*{
    box-sizing:border-box;
    font-family: 'raleway', Arial, Helvetica, sans-serif;
}

body{
    color: black;
}

h2{
    font-size: 24px;
    margin-left: 30px;
    margin-top: 40px;
}

h3{
    font-size: 16px;
}

p{
    margin:1%;
    font-size: 16px;
}


/* header */


header{
    width:90%;
    height:auto;
    margin:20px auto 20px auto;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
}

.big-header-logo-img{
    display:none;
}

.small-header-logo-img{
    display:block;
    margin-left: 1%;
}

h1{
    font-size:25px;
}

.menu{
    display:flex;
    flex-wrap:nowrap;
    width:25%;
    height:90px;
}

nav a:hover{
    border-top:2px solid #0065fc;
    color: #0065fc;
}

.item-menu{
    display:block;
    width:50%;
    height:100%;
    text-align: center;
    text-decoration: none;
    line-height: 70px;
    font-size: 20px;
    color: black;
}


/* main */


main{
    width:90%;
    margin:0 auto;
}


/* section recherche */


#section_header p{
    margin: -14px 0 20px 0;
    font-size:16px;
}

.search-form{
    display:flex;
    height:50px;
    width:50%;
    border-radius:20px;
}

.search-form label{
    width:50px;
    height:50px;
    text-align:center;
    font-size:18px;
    line-height: 50px;;
    background-color: #f2f2f2;
    border-radius:20% 0 0 20%;
    flex-shrink:0;
}

#recherche{
    width: 240px;
}

.search-form input[type='search']{
    border:none;
    border-top:1px solid #f2f2f2;
    border-bottom:1px solid #f2f2f2;
    width: calc(100% - 80px);
    height:50px;
    font-size:18px;
    font-weight:800;
    margin:0px;
    padding:0px 15px;
    flex-shrink:1;
}

.bouton_rechercher{
    border:none;
    border-radius:0 20px 20px 0;
    background-color: #0065FC;
    height:50px;
    width:auto;
    padding: 0 20px;
    font-size:18px;
    font-weight:800;
    color: white;
    cursor: pointer;
    flex-shrink:0;
}

.loupe_mobile{
    height:50px;
    width:50px;
    border:none;
    border-radius:15px;
    background-color: #0065fc;
    color:#f1f1f1;
    display:none;
    cursor: pointer;
    flex-shrink: 0;
}


/* filtres */


#filtre{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
    
#filtre * a:hover{
    color: grey;
}
    
#filtre * a{
    color: black;
    font-size: 110%;
    text-decoration: none;
}
    
#filtre * li{
    display: flex;
    border: 2px solid #f2f2f29a;
    border-left: none;
    border-radius: 30px;
    margin-right: 30px;
    padding: 1px 15px 1px 1px;
    font-weight: bold;
    list-style-type: none;      
}

#filtre * strong{
    display: flex;
    padding-top: 32px;
}

#Filtres{
    display: flex;
    flex-wrap: wrap;
}
    
li a i{
    background-color: #DEEBFF;
    color: #0065FC;
    margin: -2px 15px -2px -2px;
    padding: 15px 15px 15px 15px;
    border-radius: 100%;
    font-size: 120%;
    display: flex;
}

#détail * i{
    border: 1px solid #f2f2f29a;
    border-radius: 100%;
    color: #0065FC;
    padding: 4px 8px 4px 8px;
    margin-top: 30px;
}


/* section hotel*/


#hotel{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

i.blue{
    color:#0065fc;
}

i.grey{
    color:#f2f2f2;
}


    /* Hébergements */


#hotel-list{
    width:65%;
    background-color: #f2f2f2;
    border-radius:15px;
}

#hotel-cards-container{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:flex-start;
    margin: 0 10px 20px 10px;
}

#hotel-cards-container a{
    text-decoration: none;
    color:black;
}

.hotel-card{
    width:28%;
    height:auto;
    background-color: white;
    border:5px solid white;
    border-radius: 15px;
    box-shadow: 0 0 5px 0px grey;
    overflow:hidden;
    margin: 2% 2% 3% 0;
}

.hotel-card:hover{
    background-color: #DEEBFF;
    border:5px solid #DEEBFF;
}

.hotel-card-img{
    width:100%;
    height:130px;
    overflow:hidden;
    position:relative;
}

.hotel-card-img img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.hotel-card-body{
    height:auto;
    padding: 1%;
}

.hotel-card-body-item{
    margin:0;
    padding: 2%;
}

.more{
    display: block;
    font-size:22px;
    margin:0 0 40px 40px;
    text-decoration: none;
    color:black;
    font-weight: 700;
}


/* Les plus populaire */


#titre_popu{
    margin-left: 10%;
}

#ranking-list{
    width:32.5%;
    background-color: #f2f2f2;
    border-radius:15px;
    position:relative;
}

.grow-logo{
    position:absolute;
    top:0px;
    right:0px;
    color:black;
    font-size: 30px;
    margin:35px 50px 0px 0px;
}
#ranking-cards-container{
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:flex-start;
}

#ranking-cards-container a{
    text-decoration: none;
    color:black;
}

.ranking-card{
    width:80%;
    margin:5% auto 3% auto;
    display:flex;
    flex-direction:row;
    border:5px solid white;
    background-color: white;
    box-shadow: 0 0 5px 0px grey;
    border-radius: 15px;
    overflow: hidden;
}

.ranking-card:hover{
    border:5px solid #DEEBFF;
    background-color: #DEEBFF;
}

.ranking-card-img{
    width:40%;
    height:160px;
    overflow:hidden;
    position:relative;
}

.ranking-card-img img{
    height:100%;
    width:100%;
    object-fit: cover;
}

.ranking-card-body{
    display:flex;
    flex-direction: column;
    width:70%;
    padding:2% 5% 2% 5%;
}

.ranking-card-body-item{
    margin:0;
    padding:2%;
    font-size: 17px;
}

.ranking-card-body .hotel-ranking{
    margin-top:auto;
}

#ranking-list * .hotel-price{
    font-size: 90%;
}

/* activity */


#titre_activity{
    margin-left: 0%;
}

#activity{
    height:auto;
    width:100%;
    margin: 0 0 70px 0;
}

#activity-cards-container{
    width:100%;
    height:600px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:space-between;
    align-content:space-between;
}

.activity-card{
    text-decoration: none;
    color:black;
    width:22.5%;
    border-radius:15px;
    box-shadow: 0 0 5px 0px grey;
    overflow:hidden;
}

.activity-card:hover{
    background-color: #DEEBFF;
}

.activity-card-1{
    height:100%;
}

.activity-card-2{
    height:50%;
}

.activity-card-3{
    height:40%;
}

.activity-card-4{
    height:100%;
}

.activity-card-5{
    height:45%;
}

.activity-card-6{
    height:45%;
}

.activity-card-img{
    width:100%;
    height:calc(100% - 75px);
    overflow:hidden;
    position:relative;
}

.activity-card-img img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.activity-name{
    line-height:75px;
    margin:0 0 0 5%;
}


/* footer */

footer * strong{
    font-size: 20px;
}

footer{
    background-color: #f2f2f2;
    height:auto;
    margin: 0 auto;
    display:flex;
    flex-direction: row;
    justify-content:center;
    padding:50px 0 50px 0;
}

.bloc-footer{
    width:31%;
    padding:0 2%;
}

.bloc-footer ul{
    list-style: none;
    padding:0;
}

.bloc-footer a{
    text-decoration: none;
    color:black;
    font-size: 16px;
}

.bloc-footer ul li:not(:last-of-type){
    padding:0 0 15px 0;
}


/* Média querries */


/*laptop*/

@media screen and (max-width:1500px){
    h1{
        font-size:25px;
    }
    h2{
        font-size:22px;
    }
    .grow-logo{
        font-size:25px;
    }
    #hotel-list{
        width:60%;
    }
    #ranking-list{
        width:37.5%;
    }
    #activity-cards-container{
        flex-direction:row;
        height:auto;
    }
    .activity-card{
        width:47.5%;
        margin:0 0 2% 0;
    }
    .activity-card-img{
        height:250px;
    }
}


@media screen and (min-width:992px) and (max-width:1500px){
.menu{
    width:40%;
}
.hotel-card{
    width:42.5%;
}
.ranking-card-img{
    height:150px;
}
.ranking-card-body{
    width:60%;
}
}


/*???*/


@media screen and (max-width:992px){


header{
    flex-direction:column;
    width: 100%;
}

.big-header-logo-img{
    display: block;
}

.small-header-logo-img{
    display: none;
}

h1{
    font-size: 160%;
    margin-top: 30px;
    margin-bottom: 25px;
}

.menu{
    width:100%;
    padding-bottom: 25px;
}

.item-menu{
    border-bottom: 3px solid #f2f2f2;
}

.item-menu:hover{
    border-top: none;
    border-bottom: 3px solid #0065FC;
}

.bouton_rechercher{
    display:none;
}

.loupe_mobile{
    display:inline-block;
    margin-left:-20px;
    font-size: 120%;
}

.search-form{
    width: 90%;
    margin-left: 8%;
}

#filtre * li{
    display: flex;
    margin: 1%;
}

#filtre{
    display: flex;
    flex-direction: column;
}

#Filtres{
    margin: 0;
    padding: 0;
}

#hotel{
    flex-direction:column-reverse;
    padding-bottom: 7%;
}

#hotel-list{
    width:100%;
    margin:0 0 25px 0;
}

#ranking-list{
    width:100%;
    margin: 0 0 25px 0;
}

.ranking-card{
    max-width: 600px;
    max-height: 150px;
    margin-bottom: 0;
}

#rankingranking-card-body-item{
    font-size: 80%;
}

footer{
    flex-direction: column;
    padding-bottom: 0%;
}

.bloc-footer{
    width:96%;
    padding-bottom: 30px;
    margin-left: 5%;
}
#hotel-list * h3{
    margin-bottom: -8px;
    margin-top: 4px;
    font-size: 220%;
}

#hotel * h2{
    margin-top: 10px;
}

.hotel-card-body-item{
    font-size: 170%;
    margin-bottom: -3%;
}

#hotel * a{
    height: 200px;
}

#hotel * img{
    height: 80%;
}

.hotel-card-body{
    margin-top: -10%;
    font-size: 50%;
    padding: 0;
}

#titre_activity{
    margin-left: 5%;
    margin-bottom: 6%;
    margin-top: -45%;
}

.activity-card{
    height: 195px;
}

.activity-card-img{
    height: 135px;
}

.activity-name{
    margin-left: 5%;
    margin-top: -1%;
}

.more{
    font-size: 120%;
    margin-left: 20px;
    margin-bottom: 10%;
}

}


/*Tablette*/


@media screen and (min-width:768px) and (max-width:992px){
.hotel-card{
    width:42.5%;
}

.ranking-card-img{
    height:250px;
}

.ranking-card-body{
    height: 180px;
    font-size: 140%;
}

.ranking-card * h3{
    font-size: 120%;
}

#titre_popu
{
    padding-top: 4%;
    margin-left: 12%;
}

.ranking-card{
    max-width: 600px;
    max-height: 200px;
}

.bloc-footer{
    width: 90%;
}

#ranking-list{
    padding-bottom: 5%;
}

#hotel{
    margin-bottom: 10%;
}

#hotel-list{
    background-color: white
    ;
}
}
/* Téléphone */


@media screen and (max-width:768px){
.big-header-logo-img{
    width:150px;
    height:auto;
}

#filtre * strong{
    margin-left: -185px;
    font-size: 120%;
    margin-bottom: -10px;
}

main{
    width:100%;
}

#section_header{
    width:90%;
    margin:auto;
}

#hotel-list{
    border-radius: 0;
    background-color: white;
}

#ranking-list{
    border-radius:0;
}

.hotel-card{
    width:90%;
    max-width:450px;
    margin:0 0 5% 0;
}

.hotel-card-img{
    height:150px;
}

.ranking-card-img{
    height: 175px;
    width: 35%;
}

#ranking-list{
    height: 60%;
    padding-top: 7%;
    padding-bottom: 10%;
}

.ranking-card-body{
    padding:1%;
}

#activity-cards-container{
    width:90%;
    margin:0 auto 0 auto;
}

.activity-card{
    width:100%;
    max-width: 450px;
    margin:0 auto 5% auto;
}

#activity{
    margin-bottom: 5%;
}

}